@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}


.all {
    background-color:  #6b5b95;
    height: 794px;
    width: 1123px;
    position: absolute;
    margin: 0 auto;
}
.all .name {
    width: 66%;
    padding: 15px;
    border: 1px dotted #868194;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 3px;
   
}

.forcolumns {
    width: 95%;
    height: 650px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills {
    width: 40%;
    height: 100%;
    border: 1px dotted #868194;
    margin: 5px;
    border-radius: 5px;
    padding: 25px;
}
.photo {
    width: 15%;
    height: 100%;
    border: 1px dotted #868194;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.expect {
    width: 40%;
    height: 100%;
    border: 1px dotted #868194;
    margin: 5px;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    align-items: flex-end;
}

.photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: drop-shadow(0 0 1.5rem black);
    position: relative;
    bottom: 150px;
}

h1, h2 {
    color: #0d0c10;
}
